<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

<!-- eg:1 -->
	<div id="app">
		{{ message }}
	</div>

<!-- eg:2 -->
	<div id="abc">
		<p>{{ name }}</p>
		<input type="text" v-model="name">
	</div>

<!-- eg:3 -->
<ul style="list-style:none;" id="numberfor">
	<li  v-for="number in numbers">{{ number.num }}</li>
</ul>

<div id="events">
	<button v-on:click="say()">say</button>
</div>
	<script src="javascripts/vue.min.js"></script>
	<script>
		// 类似于ng-app
		new Vue({
			el: '#app',
			data: {
				message: 'hello world!'
			}
		})

		// 也可以实现双向数据绑定
		new Vue({
			el: '#abc',
			data: {
				name: 'vue'
			}
		})

		// 类似于ng-repeat
		new Vue({
			el: '#numberfor',
			data: {
				numbers: [
					{ num: 1},
					{ num: 2},
					{ num: 3}
				]
			}
		})

		// 类似于ng-click
		new Vue({
			el: '#events',
			data : {
				hello: 'hello world'
			},
			methods: {
				say: function(){
					alert(this.hello);
				}
			}
		})

		// el -- 类似于 ng-controller
		// data -- 类似于 $scope上的 数据
		// methods -- 类似于 $scope上的 方法
		
		/* methods方法内的this指向有点怪怪的 */
	</script>
</body>
</html>
